page-add-shopping {

    .image-3{
        background-image: url('../assets/imgs/final-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
    .logo2{
        background-color: rgba(255, 255, 255, 0.0)
        }
}
