page-shopping-list {

    .image-1{
        background-image: url('../assets/imgs/zelda-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
    
    .logo{
        background-color: rgba(255, 255, 255, 0.0)
        }

}
